@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
  position: relative;
 
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}


header {
	width: 100vw;
	min-height: 10vh;
	background: rgb(255, 222, 212);
    background: linear-gradient(318deg, rgba(255, 222, 212, 1) 0%, rgba(235, 162, 123, 1) 52%, rgba(204, 109, 77, 1) 100%);
}

header nav .desktop-nav-container {
    display: flex;
    max-width: 1200px;
    margin-inline: auto;
  	padding-inline: 1rem;
    align-items: center;
    padding-block: 1rem;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
	min-height: 100%;
	width: 100vw;
}

header nav .desktop-nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disabled-container{
    pointer-events: none;
    opacity: 50% !important;
}

.disabled-logo-quantity{
    display: none;
}

.disabled-logo-totalprice{
    display: none;
}

header nav .desktop-nav-container .basket-logo-container{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: .25rem;
    padding: .25rem;
    position: relative;
    cursor: pointer;
    opacity: 100%;
}
header nav .desktop-nav-container .basket-logo-container .basket-logo-quantity{
    border: 2px solid #fff;
    background-color: #fff;
    color: #F37346;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    padding-inline: .5rem;
    position: absolute;
    top: -15px;
    left: -15px;
}

header nav .desktop-nav-container .basket-logo-container .basket-logo-totalprice{
    padding-inline: .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

header nav .desktop-nav-container .basket-logo-container a.basket-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    color: #fff;
    width: auto;
}

header nav .desktop-nav-container a span {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
}

header nav .desktop-nav-container ul {
    display: flex;
    width: 500px;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

header nav .desktop-nav-container li {
    list-style: none;
}

header nav .desktop-nav-container li a {
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: ease-out .125s;
}

header nav .desktop-nav-container li a:hover {
    color: #F37346;
    transition: ease-in .125s;
}

header nav .desktop-nav-container li a:active {
    color: #F37346;
}

header nav .desktop-nav-container img.homepage-logo {
    width: 150px;
}

header nav .desktop-nav-container a {
    width: 150px;
}

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	min-height: 80vh;
    width: 100%;
}

main .container img.logo-text-image{
    width: 800px;
}

main .container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 1200px;
    justify-content: space-between;
    padding-top: 2rem;
}

main .container .left-container {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
}

main .container .left-container img {
    padding-block: 2rem;
    width: 400px;
}
main .container .left-container .message h1 {
    font-style: italic;
    font-size: 2rem;
    font-weight: 400;
}

main .container .left-container h1 span.gold {
    font-weight: 600;
    color: #FFCA63;
}

main .container .left-container h1 span.reddish {
    font-weight: 600;
    color: #F37346;
}

main .container .left-container .buttons {
    padding-block: 2rem;
    display: flex;
    justify-content: center;
}

main .container .left-container .buttons button.orderButton {
    padding-block: .75rem;
    padding-inline: 1.75rem;
    border-radius: 3rem;
    border-style: none;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
    color: #F37346;
    border: 4px solid #F37346;
    transition: ease-out .125s;
}

main .container .left-container .buttons button.orderButton:hover {
    color: #fff;
    background-color: #F37346;
    border: 4px solid #F37346;
    transition: ease-in .125s;
    box-shadow: 0px 15px 20px #aa5130;
    transform: translateY(-3px);
    cursor: pointer;
}

main .container .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .right-container .screen .mySlides{
    width: 400px;
    box-shadow: 0px 15px 20px #848484;
}

main .container .right-container .screen{
    height: auto;
    display: flex;
    align-items: center;
}

main .container .right-container .screen > img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

main .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    width: 1200px;
    height: 250px;
    padding-bottom:2rem;
}

main .bottom-container h4{
    font-size: 2rem;
    font-weight: 400;
}

main .bottom-container button.trackButton {
    padding-block: .75rem;
    padding-inline: 1.75rem;
    border-radius: 3rem;
    border-style: none;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #F37346;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 5px #aa5130;
    filter: brightness(1);
    transition: ease-out .125s;
}

main .bottom-container button.trackButton:hover {
    transition: ease-in .125s;
    filter: brightness(.75);
    cursor: pointer;
}


footer {
    background-color: #4e453d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    clear: both;
    position: relative;
	min-height: 10vh;
}

footer .copyright-container {
    padding-block: 1.75rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .copyright-container h2 {
    padding-block: 0.5rem;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

span.span-login{
    color:rgba(204, 109, 77, 1);
    cursor: pointer;
    text-decoration: none;
    transition: ease-out .125s;
}
span.span-login:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
	
	main .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 600px;
    justify-content: space-between;
    padding-top: 2rem;
    padding-inline: 2rem;
    }
    
    main .container .left-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
	}

}

@media only screen and (max-width: 900px){
	main .bottom-container {
    display: flex;
    width: 600px;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
	}
	main .bottom-container h4{
	text-align: center;
    padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 600px){
	header li.listed-directories{
		display: none;
	}
	
	main .bottom-container {
    display: flex;
    width: 450px;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
	}
	main .bottom-container h4{
	text-align: center;
    padding-block: 2rem;
    padding-inline: 2rem;
	}	
}

@media only screen and (max-width: 550px){
	.logo-title{
	display: flex;
	justify-content: center;
	}
	main .container .left-container img{
	display: flex;
	justify-content: center;
	align-items:center;
		width: 200px;
	}
	
	.container .message{
	display: flex;
	justify-content: center;
	text-align:center;
	}
	main .bottom-container {
    display: flex;
    width: 300px;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;
	}
	main .bottom-container h4{
	text-align: center;
    padding-block: 2rem;
    padding-inline: 2rem;
	}
	
}






